{% extends 'templates/main.html' %}
{% load static %}
{% block body %}

    {% block dashboard %}
        <div class="top-control d-flex text-danger">
            <a href="">
                <button class="btn btn-md btn-danger my-3 mt-md-0">Messages</button>
            </a>
        </div>
    {% endblock dashboard %}

    <!-- Header Section -->
    <div class="container-fluid bg-primary py-5 text-white">
        <div class="row pt-5">
            <div class="col-12 col-lg-10">
                <h1 class="display-5 fw-bold ms-0 ps-0 ms-md-5 ps-md-5 pt-3">Dashboard</h1>
            </div>
        </div>
    </div>
    <main>
        <div class="container">
            <div class="row py-5 ">
                <div class="col-12 col-md-3">
                    <div class="col dashboard-list py-3 px-4 bg-success my-3">Dashboard</div>
                    <div class="col dashboard-list py-3 px-4 border my-3">My Profile</div>
                    <div class="col dashboard-list py-3 px-4 border my-3">Order Bidding</div>
                    <div class="col dashboard-list py-3 px-4 border my-3">Purchase</div>
                    <a href="{% url 'logout' %}">
                        <div class="col dashboard-list py-3 px-4 border my-3 bg-danger text-white">Logout</div>
                    </a>
                </div>
                <div class="col-12 col-md-9 my-3">
                    <div class="row m-0">
                        <div class="col-12 col-md-6 p-0 dashboard-item mb-4 border">
                            <h5 class="bg-black px-4 py-3 text-white">
                                Auction items won/purchased
                            </h5>
                            <div class="order-pending px-4 py-4">
                                <h3 id="pending-orders" class="display-5 fw-bold">
                                    <span>{{ total_items_won|stringformat:"02d" }}</span></h3>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 p-0 dashboard-item mb-4 border">
                            <h5 class="bg-black px-4 py-3 text-white">
                                Auction Items listed
                            </h5>
                            <div class="order-pending px-4 py-4">
                                <h3 id="pending-orders" class="display-5 fw-bold">
                                    <span>{{ total_items_listed|stringformat:"02d" }}</span></h3>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 p-0 dashboard-item mb-4 border">
                            <h5 class="bg-black px-4 py-3 text-white">
                                Total auctions closed
                            </h5>
                            <div class="order-pending px-4 py-4">
                                <h3 id="pending-orders" class="display-5 fw-bold">
                                    <span>{{ total_items_closed|stringformat:"02d" }}</span></h3>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 p-0 dashboard-item mb-4 border">
                            <h5 class="bg-black px-4 py-3 text-white">
                                Total items in watchlist
                            </h5>
                            <div class="order-pending px-4 py-4">
                                <h3 id="pending-orders" class="display-5 fw-bold">
                                    <span>{{ total_watchlist_items|stringformat:"02d" }}</span></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock body %}
