{% extends "auctions/layout.html" %}

{% block body %}
    {% for message in messages %}
        <h4>{{ message }}</h4>
    {% endfor %}

    <h2>Listing: {{ auction_item.item_name }}</h2>
    <img style="max-width: 300px" src="{{ auction_item.image.url }}" />
    <p>Description: {{ auction_item.description }}*</p>
    <p>Current price: ${{ auction_item.price }}</p>
    <p>Starting bid: ${{ auction_item.starting_bid }}</p>


    {% with bids.count as total_bids %}
        <p>
            {{ total_bids }} bid{{ total_bids|pluralize }}
        </p>
    {% endwith %}

    {% comment %} {% for bid in bids %}
        <p>Bid {{ forloop.counter }} by {{ bid.bidder }}</p>
    {% empty %}
    <p>No bids yet</p>
    {% endfor %} {% endcomment %}

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ bid_form.as_p }}
        <input type="submit" value="Place Bid"/>
    </form>        

    <h3>Details:</h3>
    <ul>
        <li>Listed by: {{ bid_form.instance.user }} </li>
        {% if not auction_item.category %}
        <li>Category: No Category Selected</li>
        {% else %}
        <li>Category: {{ auction_item.category }}</li>
        {% endif %}
    </ul>
{% endblock %}