{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Auctions{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'izi/dist/css/iziToast.min.css' %}">
        <link href="{% static 'auctions/styles.css' %}" rel="stylesheet">
    </head>
    <body>
        <h1>Auctions</h1>
        <div>
            {% if user.is_authenticated %}
                Signed in as <strong>{{ user.username }}</strong>.
            {% else %}
                Not signed in.
            {% endif %}
        </div>
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'listings' %}">Active Listings</a>
            </li>
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Log In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}">Register</a>
                </li>
            {% endif %}
        </ul>
        <hr>
        {% block body %}
        {% endblock %}

        <script src="{% static 'izi/dist/js/iziToast.min.js' %}">  </script>

<script>
    {% if messages %}
        {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %} 
            iziToast.success({
                title: 'Success:',
                message: '{{message}}',
                position:  'topCenter',
                zindex: 999,
            });
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %} 
            iziToast.info({
                title: 'Info:',
                message: '{{message}}',
                position:  'topCenter',
                zindex: 999,
            });
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %} 
            iziToast.error({
                title: 'Error:',
                message: '{{message}}',
                position:  'topCenter',
            });
            {% endif %}
        {% endfor %}
    {% endif %}
</script>
    </body>
</html>
